/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,
.dashboard-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
} */

/* src/App.css */

/* src/App.css */

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px; /* Adjust based on sidebar width */
  z-index: 1000;
}

.main-content {
  padding: 20px;
  width: 100%;
  background-color: #f4f7fa;
  transition: margin-left 0.3s ease;
}

.main-content.with-sidebar {
  margin-left: 70px; /* Adjust based on sidebar width */
}

.main-content > * {
  max-width: 1200px;
  margin: 0 auto;
}
